<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>나의 메모</title>
	</head>
	<body>
		<h1>나의 메모</h1>
		<div><p>메모가 저장되었습니다.</p></div>
        <div><img src="/uploads/<%= filename%>" width="200px"></div>
		<div><input type="button" value="다시 작성" onclick="javascript:history.back()"></div>
	</body>
</html>